
.container-global-nav-items {
    column-gap: 15px;
}


/* setting the height-widt of the Spotify Home button in global-navbar */
button.global-nav-item {
    border-radius: 50%;
}

form.global-nav-item {
    height: 40px;
    margin-left: 30px;
    background-color: rgb(47 47 47);
    width: 300px;
    justify-content: center;
}

form.global-nav-item .form-contents {
    height: 27px;
    column-gap: 10px;
    
}

/* styles for the input element itself */
.form-contents input {
    width: 200px;
    background-color: inherit;
    outline: none;
}
/* styles for the placeholder of the input element */
.form-contents input::placeholder {
    font-size: 1rem;
    font-weight: 400;
}

