

/* fix the width of all the direct children of .main */
.main > * {
    width: calc(100% - (2 * var(--val-pad-1)));
}

.container-playlists {
    height: calc(100% - 5px);
    row-gap: 20px;
}

.container-cards {
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
    max-height: 65%;
    overflow-y: scroll;
}

@media (max-width: 780px) {
    .container-cards {
        max-height: 45%;
    }
}

.main  {
    position: relative;
    overflow-y: hidden;
}

.wrapper-playlist-heading {
    column-gap: 15px;
}

/* untill the sidebar is visible, 
    the toggle sidebar button should be hidden */
@media (min-width: 1170px) {

    .wrapper-playlist-heading .btn-toggle-sidebar  {
        display: none;
    }

}

.btn-toggle-sidebar img {
    width: 20px;
}


/* styling the scrollbar of the playlist container */
.container-cards::-webkit-scrollbar {
    opacity: 0;
    width: 12px;
}

.container-cards::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);  
    border-radius: 8px;
}

.card {
    width: 172px;
    padding: 10px;
    row-gap: 5px;

    position: relative;
    z-index: 10;
}

.card:hover {
    background-color: var(--glob-col-dark-gray);
}

.card-heading, .card-desc {
    word-wrap: break-word;
}

.card-img {
    width: 100%;
    object-fit: contain;
} 

.card .card-desc {
    font-size: 0.9rem;
    font-weight: 300;
}

/* selector to select elements
 * with both the quiried classes */
.btn-play.btn-spotify-play {
    height: 44px;
    width: 44px;
    background-color: var(--spotify-green);
    position: absolute;
    right: 18px;
    bottom: 55px;
    z-index: 25;

    /* below are the two CSS properties we
     * select for transform */
    opacity: 0;
    transform: translateY(0px);

    /* applying css transition */
    transition-property: transform, opacity; /* propeties that will be targetted */
    transition-duration: 0.25s; /* duration of time over which transition will take place */
    transition-timing-function: ease-in-out; /* smootheness of transition */
}

.card:hover .btn-spotify-play {
    opacity: 1;
    transform: translateY(-8px);
}

.btn-play img {
    width: 22px;
    height: 22px;
}

.media-state {
    width: 98%;
    position: relative;
}

@media (max-width: 780px) {
    .media-state {
        flex-direction: column;
        row-gap: 25px;
    }

    .media-duration-vol {
        flex-direction: column;
    }
}

.media-controls {
    background-color: rgb(21, 37, 21);
    position: absolute;
    bottom: 8px;
    z-index: 15;
    width: 92%;

    row-gap: 25px;
    padding-block: 20px;
}

.media-player {
    column-gap: 30px;
}

.btn-media-player {
    height: 50%;
    background: none;
}

.btn-media-player img {
    height: 25px;
}

.media-duration-vol {
    column-gap: 25px;
}

.btn-volume img {
    height: 20px;
}

.media-controls .seekbar {
    width: 98%;
    height: 4px;
    background-color: white;

    position: relative;
}

.seekbar .seekbar-thumb {
    position: relative;
    left: 0%;
    transition: left 0.15s ease-out;
}

