
/* sidebar styles when it's hidden */
@media (max-width: 1170px) {

    .sidebar {
        border: 1px solid white;
        position: absolute;
        bottom: var(--val-pad-1);
        z-index: 30;
        width: max(35%, 420px);
        transform: translateX(-110%);
        transition: transform 250ms ease-in-out;
    }

}

.sidebar-header button:hover {
    background-color: var(--glob-col-dark-gray);
}

.sidebar-header button img {
    height: 15px;
}

.wrapper-sidebar-heading {
    column-gap: 10px;
}

@media (min-width: 1170px) {

    .wrapper-sidebar-heading {
        width: 100%;
    }   

    .btn-close-sidebar {
        display: none;
    }

}


.sidebar footer {
    column-gap: 15px;
    flex-wrap: wrap;
    row-gap: 13px;
}

.sidebar footer a {
    white-space: nowrap;
    flex-shrink: 1;
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(158, 158, 158);
}

.sidebar footer a:hover {
    text-decoration: underline;
}

.container-song-cards {
    row-gap: var(--val-pad-1);
    max-height: 73%;
    overflow-y: scroll;
}

.container-song-cards li {
    list-style-type: none;
}

.container-song-cards::-webkit-scrollbar {
    width: 11px;
}

.container-song-cards::-webkit-scrollbar-thumb {
    background-color: var(--glob-col-dark-gray);
    border-radius: var(--val-pad-1);
}

.container-song-cards::-webkit-scrollbar-thumb:hover {
    background-color: rgb(96, 96, 96);
}

.card-song {
    height: 55px;
    border: 1px solid white;
}

.card-song:hover {
    background-color: var(--glob-col-dark-gray);
}

.card-song img {
    width: 30px;
}

.card-song p {
    font-size: 1rem;
}

.song-label {
    align-items: center;
    column-gap: 15px;
}

.song-info {
    width: 80%;
    height: 96%;
    row-gap: 5px;
}

.highlighted-card {
    /* color: var(--spotify-green); */
    color: lightgreen;
}