

.container {
    border: 2px solid red;
    padding: 3px;
    margin: 3px;
}

/* flexbox utilities */
.flexbox {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

/* to justify the contents of a flexbox to center */
.justify-content-center {
    justify-content: center;
}

/* to align the flexbox items to center */
.align-items-center {
    align-items: center;
}

/* to apply a black background */
.bg-black {
    background-color: black;
}

.bg-light-gray {
    background-color: rgb(47 47 47);
}

.bg-dark-gray {
    background-color: #7c7c7c;
}

/* to give white color to the content */
.color-white {
    color: white;
}


/* to invert the colors of icons from black to white */
.invert {
    filter: invert(1);
}

/* border related sytles */
.border-none {
    border: none;
}

/* to give rounded border effect */
.rounded-corners {
    border-radius: 10px;
}

.border-squiricle {
    border-radius: 27px;
}

/* level-1 margin */
.mar-1 {
    margin: 5px;
}
/* level-1 padding */
.pad-1 {
    padding: 8px;
}

.txt-size-base {
    font-size: 1rem;
    font-weight: 400;
}

.img-btn-sm {
    height: 25px;
    width: 25px;
}

